<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SBT"
            id="com.drwe.sbt.rac.commands.category">
      </category>
      <command
            name="CreateNotice"
            categoryId="com.drwe.sbt.rac.commands.category"
            id="com.drwe.sbt.rac.commands.CreateNotice">
      </command>
      <command
            name="ExportReference"
            categoryId="com.drwe.sbt.rac.commands.category"
            id="com.drwe.sbt.rac.commands.ExportReference">
      </command>
      <command
            name="ExportDatasetNR"
            categoryId="com.drwe.sbt.rac.commands.category"
            id="com.drwe.sbt.rac.commands.ExportDatasetNR">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.drwe.sbt.rac.commands.CreateNotice"
            class="com.drwe.sbt.rac.tools.CreateNotice">
      </handler>
      <handler
            commandId="com.drwe.sbt.rac.commands.ExportReference"
            class="com.drwe.sbt.rac.tools.ExportReference">
      </handler>
      <handler
            commandId="com.drwe.sbt.rac.commands.ExportDatasetNR"
            class="com.drwe.sbt.rac.tools.ExportDatasetNR">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.drwe.sbt.rac.commands.CreateNotice"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.drwe.sbt.rac.commands.ExportReference"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.drwe.sbt.rac.commands.ExportDatasetNR"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="SBT"
               mnemonic="M"
               id="com.drwe.sbt.rac.menus.sbt">
            <command
                  commandId="com.drwe.sbt.rac.commands.CreateNotice"
                  icon="icons/ico_note.png"
                  id="com.drwe.sbt.rac.menus.sbt"
                  mnemonic="N">
            </command>
            <command
                  commandId="com.drwe.sbt.rac.commands.ExportReference"
                  icon="icons/ico_export.png"
                  id="com.drwe.sbt.rac.menus.sbt"
                  mnemonic="E">
            </command>
            <command
                  commandId="com.drwe.sbt.rac.commands.ExportDatasetNR"
                  icon="icons/ico_export.png"
                  id="com.drwe.sbt.rac.menus.sbt"
                  mnemonic="D">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.drwe.sbt.rac.toolbars.sbtToolbar">
            <command
                  commandId="com.drwe.sbt.rac.commands.CreateNotice"
                  icon="icons/ico_note.png"
                  tooltip="Create notice"
                  id="com.drwe.sbt.rac.toolbars.sbtToolbar">
            </command>
            <command
                  commandId="com.drwe.sbt.rac.commands.ExportReference"
                  icon="icons/ico_export.png"
                  tooltip="Export reference"
                  id="com.drwe.sbt.rac.toolbars.sbtToolbar">
            </command>
            <command
                  commandId="com.drwe.sbt.rac.commands.ExportDatasetNR"
                  icon="icons/ico_export.png"
                  tooltip="Export Named Ref. (BOM)"
                  id="com.drwe.sbt.rac.toolbars.sbtToolbar">
            </command>
         </toolbar>
      </menuContribution>
	  <menuContribution
		locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<command
			commandId="com.drwe.sbt.rac.commands.CreateNotice"
			mnemonic="N"
			icon="icons/ico_note.png"
			id="com.mycom.addshortcut.menus.CreateNotice">
			<visibleWhen>
				<and>
				<reference
					definitionId="com.teamcenter.rac.ui.inMainPerspective">
				</reference>
	                <iterate ifEmpty="false">
	                    <adapt type="com.teamcenter.rac.kernel.TCComponent">
		                    <test property="com.teamcenter.rac.kernel.TCComponent.typeClass" value="ItemRevision">
		                    </test>
	                    </adapt>
	                </iterate>
				</and>
			</visibleWhen>
		</command>
	  </menuContribution>
	  <menuContribution
		locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<command
			commandId="com.drwe.sbt.rac.commands.ExportReference"
			mnemonic="E"
			icon="icons/ico_export.png"
			id="com.mycom.addshortcut.menus.ExportReference">
			<visibleWhen>
				<and>
				<reference
					definitionId="com.teamcenter.rac.ui.inMainPerspective">
				</reference>
	                <iterate ifEmpty="false">
	                    <adapt type="com.teamcenter.rac.kernel.TCComponent">
		                    <test property="com.teamcenter.rac.kernel.TCComponent.typeClass" value="Dataset">
		                    </test>
	                    </adapt>
	                </iterate>
				</and>
			</visibleWhen>
		</command>
	  </menuContribution>
   </extension>

</plugin>
